# settings files
*.env
/server_settings.py
config/secrets/*
!config/secrets/README.md

# Logs etc.
*.log
results/
*.xlsx
*.pdf

/node_modules/
.DS_Store
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.sqlite
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
.idea/
*.ipr
*.iws
out/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
.pyre//
.mypy_cache/
.dmypy.json
dmypy.json
.pytype/
.pytype/
cython_debug/   
instance/
.webassets-cache/
celerybeat-schedule
celerybeat.pid
*.pot
*.mo
local_settings.py
db.sqlite3
media/
staticfiles/
static/ # if you run collectstatic
.envrc
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
.idea/  
*.sublime-project
*.sublime-workspace     
*.code-workspace    
.vscode/
.cache/
.pyre/
.mypy_cache/
.pytype/
.pytest_cache/
__pycache__/
instance/
celerybeat-schedule
celerybeat.pid
*.log
*.pot
*.mo
local_settings.py